.user
{
  color: #0692bd;   
}
.address
{
  color: #0345af;   
}
.cash
{
  color: #1caf02;
}
.phone
{
  color: #1caf02;
}
.calendar
{
    color: #8c00ff;
}
.delivery_date
{
    color: #b70401;
}