<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          Detalle de la orden de compra
        </ion-title>
      </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="currentOrder != undefined">

  <ion-card>
    <ion-img src="{{ currentOrder.customer.image || 'assets/images/default/store.png' }}"></ion-img>
    <ion-card-header (click)="viewWholesalerDetails(currentOrder.customer)">
      <ion-card-title>N°  - {{currentOrder.customer.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        <ion-icon name="pin" class="address"></ion-icon> {{currentOrder.customer.address}}
      </p>
      
      <p>
        <ion-icon name="phone-portrait" class="phone"></ion-icon><a href="tel:{{currentOrder.customer.cellphone}}">{{currentOrder.customer.cellphone}}</a>
      </p>
      <p>
        <ion-icon name="call" class="phone"></ion-icon><a href="tel:{{currentOrder.customer.phone}}">{{currentOrder.customer.phone}}</a>
      </p>
      
      <br>
      <p>
        <ion-icon name="calendar" class="calendar"></ion-icon> {{currentOrder.created_at | date}}
      </p>
      <p>
        <ion-icon name="car" class="delivery_date"></ion-icon> {{currentOrder.delivery_date | date}}
      </p>
      <p>
        <ion-icon name="cash" class="cash"></ion-icon> $ {{currentOrder.total_wholesale_price | number }}
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-header>
        <ion-card-title><ion-icon name="chatbubbles" class="address"></ion-icon> Comentarios</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <h2><b>Públicos</b></h2>
          <p>
            {{currentOrder.public_comments}}
          </p>
          <h2><b>Privados</b></h2>
          <p>
            {{currentOrder.private_comments}}
          </p>
            
      </ion-card-content>
    </ion-card>

  <ion-card>
      <ion-card-header>
        <ion-card-title>Productos</ion-card-title>
      </ion-card-header>
      <ion-card-content>

  <ion-list>
      <ion-item *ngFor="let item of currentOrder.order_items">
        <ion-thumbnail item-left>
          <img src="assets/images/products/{{ item.presentation.image  || 'honey.png'}}">
        </ion-thumbnail>
        <ion-label>
          <h2 class="item-text-wrap"><b>{{ item.presentation.short_name}} ({{ item.presentation.measurement}})</b></h2>
          <p><b>Cantidad:</b> {{item.quantity}}</p>
          <p><b>Valor unitario:</b> $ {{item.presentation.wholesale_price | number }}</p>
          <p *ngIf="item.discount.uuid != '80863b44-9f07-4d4e-b1f5-64053052e5c7'"><b>Descuento:</b> {{ item.discount.discount_percentage }}% </p>
          
          <p><b>Subtotal:</b> $ {{ item.quantity * item.presentation.wholesale_price * ((100-item.discount.discount_percentage)/100) | number }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
<ion-list>
    <ion-list-header>
        <ion-label>Acciones</ion-label>
      </ion-list-header>
      <ion-button expand="full" color="success" (click)="marcarComoEntregado()">
        <ion-icon name="checkmark-circle" size="large"></ion-icon> &nbsp; Entregar
      </ion-button>
      <ion-button expand="full" color="secondary" (click)="downloadReceipt()">
        <ion-icon name="cloud-download" size="large"></ion-icon> &nbsp; Descargar recibo
      </ion-button>
      <ion-item-divider>
          <ion-label>
            Zona de peligro
          </ion-label>
        </ion-item-divider>
      <ion-button expand="full" color="danger" (click)="eliminarOrden()">
          <ion-icon name="trash" size="large"></ion-icon> &nbsp; Eliminar
        </ion-button>
</ion-list>
</ion-content>
