<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Distribuidor
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="wholesaler != undefined">

  <ion-card>
    <ion-img src="{{ wholesaler.image || 'assets/images/default/store.png' }}"></ion-img>
    <ion-card-header>
      <ion-card-title>{{wholesaler.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        <ion-icon name="pin" class="address"></ion-icon> {{wholesaler.address}}
      </p>
      
      <p>
        <ion-icon name="phone-portrait" class="phone"></ion-icon><a href="tel:{{wholesaler.cellphone}}">{{wholesaler.cellphone}}</a> - <a href="https://wa.me/573002069105?text=Me%20gustaría%20saber%20el%20precio%20del%20coche"><ion-icon name="logo-whatsapp" class="whatsAppLink"></ion-icon></a>
      </p>
      <p>
        <ion-icon name="call" class="phone"></ion-icon><a href="tel:{{wholesaler.phone}}">{{wholesaler.phone}}</a>
      </p>
      
      
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pedidos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        <b>Total órdenes:</b> {{wholesaler.aggregates.total_orders}}
      </p>
      <p>
        <b>Total vendido:</b> $ {{ wholesaler.aggregates.total_value  | number }}
      </p>
      <p>
        <b>Promedio por orden:</b> $ {{ (wholesaler.aggregates.average_price).toFixed() | number}}
      </p>
      <p>
        <b>Promedio días por orden:</b> {{ wholesaler.aggregates.difference_days_between_orders | number}}
      </p>
      <p>
        <b>Días desde la última:</b> {{ wholesaler.aggregates.time_since_last_order }} días ({{ wholesaler.aggregates.time_since_last_order_humans }})
      </p>
      <p>
        <b>Próxima orden:</b> En {{ (wholesaler.aggregates.time_for_next_order).toFixed() }} días ({{ wholesaler.aggregates.planned_time_for_next_order | date:'fullDate':'-0500':'es' }})
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Productos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let product of wholesaler.aggregates.products; let indexProducto = index;">

        <div *ngIf="product.presentations.length > 0">
          <ion-list-header color="light">
            <h2>
              {{product.name}}
            </h2>
          </ion-list-header>
          <ion-item *ngFor="let presentation of product.presentations; let indexPresentation = index;">
            <ion-thumbnail item-left>
              <img src="assets/images/products/{{ presentation.image  || 'honey.png'}}">
            </ion-thumbnail>
            <ion-label class="labelItem">
              <p class="item-text-wrap">{{presentation.short_name}} ({{presentation.measurement}})</p>
              <p class="item-text-wrap">{{presentation.sold_quantity}} unidades</p>
              <p class="item-text-wrap">{{(presentation.average_sold_quantity_per_order).toFixed(2) | number}} unidades/orden</p>
            </ion-label>
            
          </ion-item>
        </div>
      
      </ion-list>
    </ion-card-content>
  </ion-card>
  
</ion-content>
