<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Distribuidor
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="wholesaler != undefined">

  <ion-card>
    <ion-img src="{{ wholesaler.image || 'assets/images/default/store.png' }}"></ion-img>
    <ion-card-header>
      <ion-card-title>{{wholesaler.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        <ion-icon name="pin" class="address"></ion-icon> {{wholesaler.address}}
      </p>
      
      <p>
        <ion-icon name="phone-portrait" class="phone"></ion-icon><a href="tel:{{wholesaler.cellphone}}">{{wholesaler.cellphone}}</a> - <a href="https://wa.me/573002069105?text=Me%20gustaría%20saber%20el%20precio%20del%20coche"><ion-icon name="logo-whatsapp" class="whatsAppLink"></ion-icon></a>
      </p>
      <p>
        <ion-icon name="call" class="phone"></ion-icon><a href="tel:{{wholesaler.phone}}">{{wholesaler.phone}}</a>
      </p>
      
      
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pedidos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        <b>Total órdenes:</b> {{wholesaler.orders.length}}
      </p>
      <p>
        <b>Total vendido:</b> $ {{ totalValue  | number }}
      </p>
      <p>
        <b>Promedio por orden:</b> $ {{ (totalValue / wholesaler.orders.length).toFixed() | number}}
      </p>
      <p>
        <b>Promedio días por orden:</b> {{ wholesaler.difference_days_between_orders | number}}
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Productos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let product of wholesaler.products; let indexProducto = index;">

        <div *ngIf="product.presentations.length > 0">
          <ion-list-header color="light">
            <h2>
              {{product.name}}
            </h2>
          </ion-list-header>
          <ion-item *ngFor="let presentation of product.presentations; let indexPresentation = index;">
            <ion-thumbnail item-left>
              <img src="assets/images/products/{{ presentation.image  || 'honey.png'}}">
            </ion-thumbnail>
            <ion-label class="labelItem">
              <p class="item-text-wrap">{{presentation.short_name}} ({{presentation.measurement}})</p>
              <p class="item-text-wrap">{{presentation.quantity}} unidades</p>
              <p class="item-text-wrap">{{(presentation.quantity / wholesaler.orders.length).toFixed(2) | number}} unidades/orden</p>
            </ion-label>
            
          </ion-item>
        </div>
      
      </ion-list>
    </ion-card-content>
  </ion-card>
  <!--
  <ion-card>
      <ion-card-header>
        <ion-card-title><ion-icon name="chatbubbles" class="address"></ion-icon> Comentarios</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <h2><b>Públicos</b></h2>
          <p>
            {{currentOrder.public_comments}}
          </p>
          <h2><b>Privados</b></h2>
          <p>
            {{currentOrder.private_comments}}
          </p>
            
      </ion-card-content>
    </ion-card>

  <ion-card>
      <ion-card-header>
        <ion-card-title>Productos</ion-card-title>
      </ion-card-header>
      <ion-card-content>

  <ion-list>
      <ion-item *ngFor="let item of currentOrder.order_items">
        <ion-thumbnail item-left>
          <img src="assets/images/products/{{ item.presentation.image  || 'honey.png'}}">
        </ion-thumbnail>
        <ion-label>
          <h2 class="item-text-wrap"><b>{{ item.presentation.short_name}} ({{ item.presentation.measurement}})</b></h2>
          <p><b>Cantidad:</b> {{item.quantity}}</p>
          <p><b>Valor unitario:</b> $ {{item.presentation.wholesale_price | number : fractionSize}}</p>
          <p *ngIf="item.discount.uuid != '80863b44-9f07-4d4e-b1f5-64053052e5c7'"><b>Descuento:</b> {{ item.discount.discount_percentage }}% </p>
          
          <p><b>Subtotal:</b> $ {{ item.quantity * item.presentation.wholesale_price * ((100-item.discount.discount_percentage)/100) | number : fractionSize}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
<ion-list>
    <ion-list-header>
        <ion-label>Acciones</ion-label>
      </ion-list-header>
      <ion-button expand="full" color="success" (click)="marcarComoEntregado()">
        <ion-icon name="checkmark-circle" size="large"></ion-icon> &nbsp; Entregar
      </ion-button>
      <ion-button expand="full" color="secondary" (click)="downloadReceipt()">
        <ion-icon name="cloud-download" size="large"></ion-icon> &nbsp; Descargar recibo
      </ion-button>
      <ion-item-divider>
          <ion-label>
            Zona de peligro
          </ion-label>
        </ion-item-divider>
      <ion-button expand="full" color="danger" (click)="eliminarOrden()">
          <ion-icon name="trash" size="large"></ion-icon> &nbsp; Eliminar
        </ion-button>
</ion-list>
-->
</ion-content>
