<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Distribuidores
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content  class="ion-padding">

  <ion-list>
    <ion-item  *ngFor="let wholesaler of wholesalers" (click)="viewWholesalerDetails(wholesaler)">
      <ion-thumbnail slot="start">
        <img src="assets/images/{{ wholesaler.image  || 'default/store.png'}}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{wholesaler.name}}</h2>
        <p>
          <ion-icon name="pin" class="address"></ion-icon> {{wholesaler.address}}
        </p>
        
        <p>
          <ion-icon name="phone-portrait" class="phone"></ion-icon><a href="tel:+57{{wholesaler.cellphone}}">{{wholesaler.cellphone}}</a> - <a href="https://wa.me/57{{wholesaler.cellphone}}"><ion-icon name="logo-whatsapp" class="whatsAppLink"></ion-icon></a>
        </p>
        <p>
          <ion-icon name="call" class="phone"></ion-icon><a href="tel:+57{{wholesaler.phone}}">{{wholesaler.phone}}</a>
        </p>
        <br>
        <p>
          <b>Próxima orden:</b> En {{ (wholesaler.aggregates.time_for_next_order).toFixed(2) }} días <br>({{ wholesaler.aggregates.planned_time_for_next_order | date:'fullDate':'-0500':'es' }})
        </p>
        
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button href="wholesaler-new" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
