<p>Seleccione los productos a solicitar</p>
<ion-list *ngFor="let product of products; let indexProducto = index;">

  <div *ngIf="product.presentations.length > 0">
    <ion-list-header color="light">
      <h2>
        {{product.name}}
      </h2>
    </ion-list-header>
    <ion-item *ngFor="let presentation of product.presentations; let indexPresentation = index;">
      <ion-thumbnail item-left>
        <img src="assets/images/products/{{ presentation.image  || 'honey.png'}}">
      </ion-thumbnail>
      <ion-label class="labelItem">
        <p class="item-text-wrap">{{presentation.short_name}} ({{presentation.measurement}})</p>
        <p>Disponible: {{presentation.available_quantity}}</p>
      </ion-label>
      <ion-input *ngIf="limitMaximumWithAvailable" class="ion-text-end" type="number" min="0" max="{{presentation.available_quantity}}" placeholder="0" side="end" [(ngModel)]="pedidos[indexProducto].presentations[indexPresentation].requested_quantity" ></ion-input>
      <ion-input *ngIf="!limitMaximumWithAvailable" class="ion-text-end" type="number" min="0" placeholder="0" side="end" [(ngModel)]="pedidos[indexProducto].presentations[indexPresentation].requested_quantity" ></ion-input>
    </ion-item>
  </div>

</ion-list>