<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
     <ion-card class="welcome-card">
      <ion-img src="../assets/images/logos/header.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Home</ion-card-subtitle>
        <ion-card-title>Mieles de la Villa App</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Descripción :) </p>
        <p>Versión: {{version}}</p>
      </ion-card-content>
    </ion-card>
</ion-content>
