<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
     <ion-card class="welcome-card">
      <ion-img src="../assets/images/logos/header.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Home</ion-card-subtitle>
        <ion-card-title>Mieles de la Villa App</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>App para el manejo de de toda la información de Mieles de la Villa</p>
        <!--div *ngIf="version == 'Dev version'">
          <br>
          ==============================
          <br>
          <ion-item>
            <ion-label>IP:</ion-label><br>
            <ion-input [(ngModel)]="urlServ"></ion-input><br>
          </ion-item>
          <ion-button expand="full" color="success" (click)="cambiarURL()">
            Cambiar URL
          </ion-button>
          <p>URL:{{valorURL}}#</p>
          
        </div>
        <div>
          
          <app-maps-form #mapa>
          </app-maps-form>
          
        </div-->
        <ion-img src="../assets/images/fotos/mompos.jpg"></ion-img>

        <p>Versión: {{version}}</p>
      </ion-card-content>
    </ion-card>
</ion-content>
